<!-- <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <% if (app.status === 1) {%>
            <div class="ui success message">
                <p><%= app.msg %></p>
            </div>
        <% }%>

        <% if (app.status === 2) {%>
            <div class="ui error message">
                <p><%= app.msg %></p>
            </div>
        <% }%>
    </div>
</div> -->
